.b-layout
  background #F4F7FA
  display flex
  min-height calc(100% - 70px)
  &__aside
    background #353b40
    width 160px
  &__content
    width calc(100% - 160px)

.b-user_profile
  color #898a8a
  font-weight 300
  padding 20px 10px
  text-align center
  &__title
    color #FFF
    font-size 18px
    margin 5px 0 0 0

