/* MENU OPTIONS */
.g-menu-options
  align-items center
  border-radius 5px
  cursor pointer
  display inline-flex
  height 30px
  justify-content flex-start
  line-height 30px
  margin-left 10px
  padding 0 8px
  position relative
  &.is-disabled
    color #959595
    pointer-events none
    .g-icon-arrow-menu
      border-color #959595 transparent transparent
  & > span
    display inline-block
    font-size 13px
    line-height 30px
    padding 0 8px
    vertical-align middle
  &.is-active
    background #f0f0f0
    border-radius 5px 5px 0 0
    box-shadow 0px 2px 5px #aaa
    .g-icon-arrow-menu
      border-color transparent transparent #494949
      border-width 0px 4px 4px
    .g-menu-options_item-list
      font-weight normal
      visibility visible
      opacity 1
  &:not(.is-active):not([disabled]):hover
    background #f0f0f0
    box-shadow 0 0 5px #aaa

.g-icon-arrow-menu
  border-color #494949 transparent transparent
  border-style solid
  border-width 4px 4px 0
  content ""
  display inline-block
  height 0
  margin-left 5px
  vertical-align middle
  width 0

.g-menu-options_item-list
  background #f0f0f0
  border-radius 5px 0 5px 5px
  box-shadow 0 4px 3px #aaa
  font-size 13px
  list-style none
  opacity 0
  padding 8px 0
  position absolute
  right 0
  text-align left
  top 30px
  visibility hidden
  z-index 3
:host /deep/ .g-menu-options__item
  color #494949
  display block
  padding 0 12px
  white-space nowrap
  &:hover
    text-decoration none
    background #c8c8c8
:host /deep/ .g-icon-three_nuts
  height 18px
  width 18px
:host /deep/ .g-menu-options_item-list .g-icon
  height 16px
  margin-right 14px
  position relative
  top 3px
  width 16px
