.g-link
  margin-left 30px
.b-btn-container
  text-align right.b-container
  display flex
  max-width 1200px
  &_form
    width calc(100% - 300px)

.b-preview-image
  display flex
  &_column
    &:first-child
      background #eef1f5
      border 1px solid #c7c7c7
      height 120px
      vertical-align top
      width 120px
    &:last-child
      padding 0 0 0 10px
      width calc(100% - 120px)

.g-form_row[hidden]
  display none
