
$link-color = #378cc8

/*  ==================================
      Stycky-Nav Styles
    ================================== */

.b-sticky-nav
  width 240px
  font-size 1.2rem
  margin-right 20px
  position sticky
  position -webkit-sticky
  top 40
  &_list
    border-left 2px solid #26a69a
    margin-top 15px
    margin-left 3px
    padding 0
  &_list-item
    list-style none
    margin 0px
    &__link
      cursor pointer
      margin 7px 7px 7px 10px
      color $link-color