body
  background #DDD
  height 100vh
  width 100vw
.b-loader
  align-items center
  display flex
  flex-direction column
  height 100%
  justify-content center
  width 100%
  &_item
    height 105px
    position relative
    width 105px
  &_ring
    border 7px dashed #333
    border-radius 100%
    height 10px
    position absolute
    width 10px
    &--a
      left 30px
      padding 10px
      top 30px
      animation loadingA 8s .3s linear infinite
    &--b
      padding 25px
      left 15px
      top 15px
      animation loadingB 4s .3s cubic-bezier(1,0.5,0.3,0.8) infinite
    &--c
      padding 40px
      left 0
      top 0
      animation loadingC 4s .3s cubic-bezier(0.1,0.5,0.3,0.8) infinite


@keyframes loadingA
  0%
    transform rotate(0deg)
  50%
    border 7px dashed #666
    transform rotate(180deg)
  100%
    transform rotate(360deg)

@keyframes loadingB
  0%
    transform rotate(0deg)
  50%
    border 7px dashed #666
    transform rotate(-180deg)
  100%
    transform rotate(-360deg)

@keyframes loadingC
  0%
    transform: rotate(0deg)
  50%
    border 7px dashed #666
    transform rotate(180deg)
  100%
    transform rotate(360deg)
