.g-detail-header
  background #FFF
  border-bottom 1px solid #E2E7EC
  padding 20px 30px 0px 30px
  &__breadcrumb
    margin 0 0 20px 0

.g-detail-body
  background #FFF
  border 1px solid #E2E7EC
  margin 20px 30px
  padding 20px 30px
  &_search
    display flex
  &_search-icon
    align-items center
    display flex
    padding 20px
    width 150px
  &_search-form
    border-left 1px solid #e2e7ec
    padding 0 0 0 30px
    width calc(100% - 150px)

.layout_detail_sub_menu
  font-size 17px
  border-top 1px solid #e2e7ec
  display flex
  a
    padding 15px 0
    color #8796a0
    border-bottom 3px solid transparent
    margin 0 23px 0 0
  li.is_active a
    border-color #0e5682
    color #000
    